@{
    ViewData["Title"] = "Home Page";
}
<input class="input-search" type="text" placeholder="جستجو" />
<div class="row">
    <div class="col-9">
        <div ng-repeat="product in products">
            <div class="col-4 box-product">
                <a ng-click="GoToDetail(product.Id)" class="card m-1">
                    <img src="{{product.imgUrl}}" />
                </a>
                <div class="fw-bold">{{product.name}}</div>
                <div>قیمت : {{product.price}} تومان</div>
                <a ng-click="AddToCart(product.Id)" class="btn btn-success btn-add">
                    افزودن به سبد خرید
                </a>
            </div>
        </div>
    </div>
    <div class="col-3">
        سبد خرید :
        <ul>
            <div ng-repeat="item in shopingCartItems">
                <li>{{item}}</li>
            </div>
        </ul>

    </div>

</div>


</>

@section Script {
    <script src="js/indexScript.js"></script>
}