@{
    ViewData["Title"] = "Home Page";
}

        سبد خرید :
<div ng-repeat="item in Cartproducts">
    <div>
        {{item.name}}
        {{item.price}}
        {{item.Price}}
        {{item.Name}}
        <hr />
        {{item}}
    </div>
</div>

<div class="row">
    <input class="input-search" type="text" placeholder="جستجو" />

    


    <div ng-repeat="product in products">
        <div class="col-4 box-product">
            <a ng-click="GoToDetail(product.Id)" class="card">
                <img src="{{product.imgUrl}}" />
            </a>
            <div class="fw-bold">{{product.name}}</div>
            <div>قیمت : {{product.price}} تومان</div>
            <a ng-click="AddToCart(product.id)" class="btn btn-success btn-add">
                افزودن به سبد خرید
            </a>
        </div>
    </div>
</div>



</>

@section Script {
    <script src="js/indexScript.js"></script>
}

@* <div class="col-4 box-product">
    <a ng-click="GoToDetail(product.Id)" class="card">
        <img src="/Image/soupJo.jpg" />
    </a>
    <a class="btn btn-success btn-add">
        افزودن به سبد خرید
    </a>
</div>
<div class="col-4 box-product">
    <a ng-click="GoToDetail(product.Id)" class="card">
        <img src="/Image/soupJo.jpg" />
    </a>
    <a class="btn btn-success btn-add">
        افزودن به سبد خرید
    </a>
</div>
<div class="col-4 box-product">
    <a ng-click="GoToDetail(product.Id)" class="card">
        <img src="/Image/soupJo.jpg" />
    </a>
    <a class="btn btn-success btn-add">
        افزودن به سبد خرید
    </a>
</div> *@