@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-10">
        <input ng-model="filterText" class="input-search" type="text" placeholder="جستجو" />

        <div ng-repeat="product in products" class="col-3 box-product">
            <a ng-click="GoToDetail(product.Id)" class="card">
                <img src="{{product.imgUrl}}" />
            </a>
            <div class="fw-bold">{{product.name}}</div>
            <div>قیمت : {{product.price}} تومان</div>
            <a ng-click="AddToCart(product.id)" class="btn btn-success btn-add">
                افزودن به سبد خرید
            </a>
        </div>
    </div>
    <div class="col-2">
        سبد خرید :
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>نام </th>
                    <th>تعداد</th>
                    <th>قیمت</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in Cartproducts">
                    <td>{{item.name}}</td>
                    <td>1</td>
                    <td>{{item.price}}</td>
                    <td>
                        <a ng-click="DeleteProduct()">حذف</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</>

@section Script {
    <script src="js/indexScript.js"></script>
}
