
@{
    ViewData["Title"] = "ProductDetail";
}

<h1>ProductDetail</h1>
{{Products[productId].imgUrl}}
<div>
    <img src="{{Products[productId].imgUrl}}" />
    <div>{{Products[productId].name}}</div>
    <div>{{products[productId].price}}</div>
</div>



@section Script {
    <script src="js/indexScript.js"></script>
}

